<% favorite = current_user.favorites.find_by(likeable: likeable) %>
  <% if favorite.nil? %>

    <form action="/favorites" method="post">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="favorite[likeable_id]" value="<%= likeable.id %>">
      <input type="hidden" name="favorite[likeable_type]" value="<%= likeable.class.to_s %>">
      <input type="image" src="../assets/star_unfavorite.png" value="No">

    </form>

  <% else %>

    <form action="<%= favorite_path(favorite) %>" method="post">

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="image" src="../assets/star_favorite.png" value="Yes">

    </form>

  <% end %>
