<div id="<%= dom_id book_recommendation %>">

  <tr>

    <td>
      <%= link_to book_recommendation.title, book_recommendation %>
    </td>

    <td>
      <%= book_recommendation.author %>
      </td>

    <td>
      <% book_recommendation.achievers.each do |achiever| %>
        <%= link_to achiever.name, achiever %><br>
      <% end %>
    </td>

    <% if user_signed_in? %>

      <% if Flipper.enabled?(:favorite, current_user) %>

        <td width="1%" style="text-align: center;">

          <%= render partial: 'favorites/button', locals: { likeable: book_recommendation } %>

        </td>

      <% end %>

    <% end %>

  </tr>

</div>
